@font-face {
    font-family: vazirmatin;
    src: url(assets/fonts/Vazirmatn-RD-Regular.ttf);
}

@font-face {
    font-family: vazirmatin;
    src: url(assets/fonts/Vazirmatn-RD-Bold.ttf);
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'vazirmatin';
}

.contaner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 500px;
    background-image: url(assets/images/background.jpg);
    background-size: cover;
    background-position: top center;
    height: 100vh;
    padding: 0 50px;
    color: #fff;

}

.pages {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    padding-top: 20%;
    padding-bottom: 5%;
    font-size: 25px;
    font-weight: bold;
}

.sub-title {
    color: #E5DA9A;
    font-size: 18px;
    font-weight: bold;
}

.sub-title ul{
    padding: 0px;
    margin: auto;
}

.sub-title li{

}

.description {
    margin-bottom: 80px;
}

.logo {
    margin: 10% 0;
}
button {
    outline: 0;
    border: 0;
    height: 56px;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 30px;
    cursor: pointer;
}
button span {
    color: #1B263B;
    padding: 0 5px;
    font-size: 16px;
}
.circle svg{
    fill:white;
    width: 100%;
    opacity: 0.3;
    transform: rotate(14deg);
}
.loader_CC{
    width: 200px;
    margin: 60px auto;
    position: relative;
}
.loader_containt{
    position: absolute;
    top: -4%;
    right: 0px;
    left: 0px;
    bottom: 0px;
    margin: auto;
    border-radius: 50%;
    width: 160px;
    background-color: #1B263B;
    z-index: 1;
    height: 160px;
}
.progress-bar div span{
    background-color: #1B263B;
    height: 93%;
    width: 93%;
    left: 0px;
    top: 0px;
    font-size: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}
.progress-bar {
    position: absolute;
    height: 144px;
    width: 144px;
    border-radius: 50%;
    margin: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
    transform: rotate(180deg);
}
.progress-bar div {
    position: absolute;
    height: 144px;
    width: 144px;
    border-radius: 50%;
}
.progress-bar .right {
    clip: rect(0 72px 144px 0);
}
.progress-bar .left {
    clip: rect(0 72px 144px 0);
}
.progress-bar .rotate {
    clip: rect(0 72px 144px 0);
}

.Main_logo{
    position: absolute;
    margin: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
    width: 108px;
    height: 108px;
    padding: 0px;
}

.Main_logo li{
    position: absolute;
    top: 0px;
    right: 0px;
    list-style: none;
    width: 100%;
    height: 100%;
}

.Main_logo li img{
    width: 100%;
    right: 100%;
}

